<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anuario</title>
    <link rel="stylesheet" href="../assets/css/anuario.css">
    <link rel="Icon" href="/assets/img/libro-magico.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="personal-data">
        <div class="personal-img">

        </div>
        <div class="text-data">
            <ul>
                <li>Jesús David Anaya Montalvo</li>
                <li>Prom 2024</li>
                <li>11°</li>
                <li>1103</li>
                <li>Tienes que esperar cosas de ti mismo antes de poder hacerlas</li>
            </ul>
        </div>
    </div>


    <div class="about-me-esp">
        <img src="" class="img-right">
        <h1>Acerca de mí</h1>
        <div class="about-me-text">
            <p class="p1">¡Hola a todos los que están leyendo esto!</p>
            <p class="p2">Para empezar, debo admitir que no tengo idea sobre qué escribir. Al escribir estas palabras, lancé una mirada hacia atrás y me di cuenta de lo rápido que han pasado estos años en el colegio, años llenos de momentos inolvidables que ahora son solo recuerdos.</p>
            <p class="p3">Los días, meses y años en este colegio, y en los otros en los que estuve, han estado llenos de aprendizajes, risas, y, sí, también algunos malos momentos. Esos días difíciles, al igual que las carreras contra el tiempo para llegar temprano o entregar trabajos, ahora quedan atrás. Valoro todo lo vivido, lo bueno y lo malo, pues cada experiencia me dejó una lección importante. También pienso en las personas que conocí; todos, de alguna manera, fueron fundamentales en mi proceso. Agradezco a los profesores por sus enseñanzas apoyo constante y a mis amigos y compañeros, de quienes también aprendí mucho.</p>
            <p class="p4">Para terminar, recuerdo lo que siempre nos decía el profe Johan: “En la puerta del horno se quema el pan”. Aprendí que todo se puede recuperar, excepto el tiempo, algo que en esta etapa del colegio ya está por acabarse.</p>
            <p class="p5">Fue un placer compartir este tiempo con mis compañeros, profesores y todas las personas que hicieron este camino más significativo. ¡Sin más que decir, adiós!</p>
            <span class="email">Correo: jdavidanaya2008@gmail.com</span>
        </div>
    </div>


    <div class="about-me-eng">
        <img src="" class="img-right">
        <h1>About me</h1>
        <div class="en-text">
            <p class="p1">Hello to everyone reading this!</p>
            <p class="p2">To begin with, I must admit that I have no idea how to start this greeting. As I was writing these words, I looked back and realized how fast these years at the school have gone by, years filled with unforgettable moments that are now just memories.</p>
            <p class="p3">The days, months and years at this school, and the others I was at, have been filled with learning, laughter and, yes, some bad times too. Those hard days, as well as the races against the clock to arrive early or turn in homework, are behind me. I value everything I have experienced, the good and the bad, because each experience has left me with an important lesson. I also think of the people I met; everyone, in some way, was fundamental in my process. I thank my professors for their teachings and constant support, and my friends and classmates, from whom I also learned a lot.</p>
            <p class="p4">Finally, I remember what Professor Johan always told us: “The bread burns at the oven door”. I learned that everything can be recovered, except time, something that at this point in school is about to run out.</p>
            <p class="p5">It was a pleasure to share this time with my classmates, teachers and all the people who made this journey more meaningful. Without more to say, goodbye!</p>
        </div>
    </div>


    <div class="my-future">
        <img src="" class="img-right">
        <h1>Mi futuro</h1>
        <div class="mf-text">
            <p>Entre mis objetivos a corto plazo, he establecido principalmente dos: ingresar a la universidad y continuar con mi rutina de ejercicios, tanto físicos como mentales, lo que incluye leer más libros y dedicar tiempo de calidad a mi familia. Valoro mucho mi salud mental, y creo que la mejor manera de mantenerla es disfrutando el tiempo con lo que más amo, que incluye no solo a las personas, sino también a mis pasatiempos y otras actividades que me apasionan. </p>
        </div>
    </div>
</body>
</html>